<form [formGroup]="form">
  <div>
    <label for="name">Name</label>
    <input type="text"
           id="name"
           name="name"
           formControlName="name"
           placeholder="Your name"
           [attr.aria-invalid]="hasError('name')">
    <small *ngIf="mustShowMessage('name')">{{ getErrorMessage('name') }} </small>
  </div>

  <app-email-control formControlName="email"></app-email-control>
  <div>
    <label for="password">Your password </label>
    <input type="password"
           id="password"
           name="password"
           formControlName="password"
           placeholder="Your password"
           [attr.aria-invalid]="hasError('password')">
    <small *ngIf="mustShowMessage('password')">{{ getErrorMessage('password') }} </small>
  </div>
  <div>
    <label for="confirmPassword">Confirm your password </label>
    <input type="password"
           id="confirmPassword"
           name="confirmPassword"
           formControlName="confirmPassword"
           placeholder="Confirm Password"
           [attr.aria-invalid]="hasError('confirmPassword')">
    <small *ngIf="mustShowMessage('confirmPassword')">{{ getErrorMessage('confirmPassword') }}
    </small>
    <small>{{ getPasswordMatchMessage()}}
    </small>
  </div>
  <div>
    <input type="checkbox"
           id="acceptTerms"
           name="acceptTerms"
           formControlName="acceptTerms"
           [attr.aria-invalid]="hasError('acceptTerms')">
    <label for="acceptTerms">Accept Terms </label>
    <small *ngIf="mustShowMessage('acceptTerms')">{{ getErrorMessage('acceptTerms') }} </small>
  </div>
  <button [disabled]="form.invalid"
          (click)="onSave()">Save</button>
</form>
