<body>
<header>
  <ul>
    <li>
      <h1> 🧨 {{ title | uppercase }} </h1>
    </li>
  </ul>
</header>
<main>
  <article>
    <h3> Working with {{ getAgenciesLength() }} agencies </h3>
    <ul>
      <li *ngFor="let agency of agencies">
        <span [ngClass]="agency.status">{{ agency.name }}</span>
        <ng-container *ngIf="agency.range==='Interplanetary' then interplanetary; else orbital"></ng-container>
        <ng-template #interplanetary> ✨ </ng-template>
        <ng-template #orbital> 🌍 </ng-template>
        <!--        <span *ngIf="agency.range==='Interplanetary'"> ✨ </span>
        <span *ngIf="agency.range==='Orbital'"> 🌍 </span>-->
      </li>
    </ul>
    <button (click)="reload('agencies')" > ♻ </button>
  </article>
  <aside *ngIf="reloading"> ♻ Reloading </aside>
</main>
<router-outlet></router-outlet>
<footer>
  <p> 🧨 {{ title | uppercase }} </p>
  <p> {{ subtitle }} </p>
  <a [href]="authorUrl"> {{ author }} </a>
</footer>
</body>
