<article>
  <h3> Working with {{ getTripsLength() }} trips </h3>
  <ul>
    <li *ngFor="let trip of trips">

      <a [routerLink]="['/','trips','trip',trip.id]"
         [ngClass]="trip.status | lowercase">{{ trip.destination }}</a>
-
      <!--<span>{{ trip.id }}</span>
      <span>{{ trip.agencyId }}</span>
      <span>{{ trip.agencyTripCode }}</span>
      <span>{{ trip.destination }}</span>
      <span>{{ trip.places }}</span>
      <span>{{ trip.startDate }}</span>
      <span>{{ trip.endDate }}</span>
      <span>{{ trip.flightPrice }}</span>
      <span>{{ trip.stayingNightPrice }}</span>
      <span>{{ trip.kind }}</span>-->

      <ng-container *ngIf="trip.kind==='WithStay' then withStay; else tripOnly"></ng-container>
      <ng-template #withStay> 🪐 </ng-template>
      <ng-template #tripOnly> 🚚 </ng-template>

      <span [ngClass]="trip.status | lowercase">{{ trip.status }}</span>
    </li>
  </ul>
  <button (click)="onReloadClick('trips')" > © </button>
  <aside *ngIf="reloading"> <app-reloading></app-reloading> </aside>
</article>
