<nav>
  <ul>
    <li>
      <a routerLink="/">
        <h1>
          <app-title></app-title>
        </h1>
      </a>
    </li>
  </ul>

  <span>
    <span *ngIf="isWorking"> 👷‍♂️ </span>
    <span *ngIf="!isWorking"> 💤️ </span>
    <span *ngIf="hasError"> 💣 {{ mensaje }} </span>
  </span>

  <ul>
    <li>
      <a routerLink="/agencies"> Agencies </a>
    </li>
    <li>
      <a routerLink="/trips"> Trips </a>
    </li>
    <li>
      <a routerLink="/auth/register">🔐 Register</a>
    </li>
    <li>
      <a routerLink="/auth/login">🔐 Login</a>
    </li>
  </ul>
</nav>
