<article>
  <h3> Working with {{ getAgenciesLength() }} agencies </h3>

  <ul>
    <li *ngFor="let agency of agencies">

      <a [routerLink]="['/','agencies','agency',agency.id]"
       [ngClass]="agency.status | lowercase">{{ agency.name }}</a>

      <ng-container *ngIf="agency.range==='Interplanetary' then interplanetary; else orbital"></ng-container>
      <ng-template #interplanetary> ✨ </ng-template>
      <ng-template #orbital> 🌍 </ng-template>

      <span *ngIf="agency.range==='Interplanetary'"> ✨ </span>
      <span *ngIf="agency.range==='Orbital'"> 🌍 </span>
    </li>
  </ul>
  <button (click)="reload('agencies')" > © </button>
  <aside *ngIf="reloading"> <app-reloading></app-reloading> </aside>
</article>
